body{
    background-image: url("https://picsum.photos/id/48/1920/1080");
    background-size: cover;
}
.box {
    display: flex;
    width: 550px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}


.item {
    width: 150px;
    height: 150px;
}

.my-container {
    /* background-color: lightpink; */
    position: relative;
    height: 90vh;
    overflow: hidden;
}

#myImg {
    position: absolute;
    left: -600px;
    /* right: 1400px; */
    bottom: 0px;
}

#myImg2 {
    position: absolute;
    left: -600px;
    /* right: 1400px; */
    bottom: 0px;
}

#long2 {

    left: 100px;
    bottom: 325px;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: bisque;
    /* right: 1400px; */

}


.myImgAnimation {
    position: absolute;
    left: -600px;
    /* right: 1400px; */
    bottom: 0px;
    animation-name: example;
    animation-duration: 10s;
}

.myImgAnimation2 {
    position: absolute;
    left: -600px;
    /* right: 1400px; */
    bottom: 0px;
    animation-name: example2;
    animation-duration: 3s;
}

.myImgAnimationInit {
    position: absolute;
}

.myImgAnimationInit2 {
    position: absolute;

}

.longAnimation {
    position: absolute;
    /* background-color: aqua; */
    animation-name: example3;
    animation-duration: 5s;
}

.longAnimationInit {

    position: absolute;
    /* background-color: blueviolet; */

}



@keyframes example {
    0% {
        /* background-color: red; */
        left: 0px;
        bottom: 0px;
    }

    25% {
        /* background-color: red; */
        bottom: 400px;
        /* transform: rotate(90deg); */
    }

    75% {
        /* background-color: red; */
        bottom: 0px;
        /* transform: rotate(180deg); */

    }

    100% {
        /* background-color: lightblue; */
        left: 2000px;
        bottom: 0px;
        /* transform: rotate(0deg); */
    }
}

@keyframes example2 {
    0% {
        /* background-color: red; */
        left: 0px;
        bottom: 0px;
    }

    100% {
        /* background-color: lightblue; */
        left: 2500px;
        bottom: 0px;
        /* transform: rotate(0deg); */
    }
}

@keyframes example3 {
    0% {
        width: 100px;
    }

    100% {
        width: 2500px;
    }
}